body {
    // Button
    --mdc-filled-button-container-shape: 4px; // Border-radius
    --mdc-filled-button-container-height: 36px; // Height
    --mdc-filled-button-container-height: 36px;
    --mdc-text-button-container-height: 36px;
}

.icon-button{
 cursor: pointer;
 &:not(:disabled):hover{
    color: #1b84ff;
 }
}
.mdc-fab {
    &.mat-mdc-extended-fab {
        min-height: 36px;
        height: 36px;
        border-radius: 4px;
        box-shadow: none;
        line-height: 36px;
    }
}

.custom-action {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    position: relative;
    mat-icon {
        color: #222222;
    }
    &:disabled{
        opacity: 0.9;
        cursor: not-allowed;
    }

    &.blue {
        background: #005cbb;
    }
    &.accent:hover {
        mat-icon {
            color: #e30736;
        }
    }

    &.warning:hover {
        mat-icon {
            color: #ffbe0F;
        }
    }

    .mdc-button__label{
        width: 100%;
        position: relative;
        font-size: 14px;
        .subfix {
            position: absolute;
            right: -10px;
            top: -2px;
        }
    }
}

mat-icon {
    &.scale-08{
        transform: scale(0.8);
    }
    &.w-12 {
        width: 12px !important;
    }

    &.w-16 {
        width: 16px !important;
    }

    &.w-20 {
        width: 20px !important;
    }

    &.blue,
    &.blue:hover {
        color: #1b84ff !important;
    }

    &.accent,
    &.accent:hover {
        color: #e30736 !important;
    }

    &.warning,
    &.warning:hover {
        color: #ffbe0F !important;
    }
}

// Button with icon
.fab-button {
    background: #f9f9f9 !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    mat-icon {
        color: #071437;
        height: 20px;
    }

}

// Button with icon + text
.fab-extended-button {
    background: #f9f9f9 !important;

    .mdc-button__label,
    mat-icon {
        color: #071437;
    }

    &.mat-mdc-extended-fab:hover {
        box-shadow: none !important;
        background-color: #dfe8f6 !important;

        .mdc-button__label,
        mat-icon {
            color: #1b84ff !important;
        }
    }

    /*
    <button mat-fab extended class="fab-extended-button blue">
        Add request
        <mat-icon class="w-12" svgIcon="plus"></mat-icon>
    </button>
    */
    &.blue{
        background-color: #1B84FF !important;
        .mdc-button__label, mat-icon {
            color: #fff !important;
        }
        &:hover{
            background-color:  #056EE9 !important;
            .mdc-button__label, mat-icon {
                color: #fff !important;
            }
        }
    }
}