body {
    // Button
    --mdc-filled-button-container-shape: 4px; // Border-radius
    --mdc-filled-button-container-height: 36px;// Height
    --mdc-filled-button-container-height: 36px;
    --mdc-text-button-container-height: 36px;
}

a.mdc-button{

}

.custom-action {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 500ms ease-in-out;

    mat-icon {
        color: #222222;
    }

    &.accent:hover {
        mat-icon {
            color: #e30736;
        }
    }

    &.warning:hover {
        mat-icon {
            color: #ffbe0F;
        }
    }
}