.mat-mdc-menu-panel{
    margin: 4px;
    .mat-mdc-menu-content{
        background: #fff;
        padding: 8px 8px;
        .mat-mdc-menu-item{
            min-height: 36px !important;
            border-radius: 4px;
            color: #78829D;
            font-size: 14px;
            padding: 0 8px;
            &:hover{
                transition: color .2s ease;
                background-color: #E9F3FF;
                color: #1B84FF;
            }
        }
    }
}

body {
    // Menu
    -mat-list-active-indicator-color: #f2f2f2; // Menu item hover
    --mdc-list-list-item-one-line-container-height: 100px; // Menu item height
}
