.custom-paginator {
    border-radius: 6px;
    background: transparent !important;
    .mat-mdc-paginator-container {
        justify-content: space-between !important;
        padding: 0px 0;

        // Select Item per page
        .mat-mdc-paginator-page-size{
            .mat-mdc-select-value-text {
                font-size: 0.9rem;
            }
    
            .mat-mdc-paginator-page-size-select {
                .mat-mdc-form-field-infix{
                    min-height: 32px !important;
                    padding: 4px 0px !important;
                }
            }
        }

        // Pagination
        .mat-mdc-paginator-page-size-label,
        .mat-mdc-paginator-range-label {
            margin: 0 4px;
            font-size: 1rem;
            font-weight: 500;
        }

        .mat-mdc-icon-button,
        .mat-mdc-custom-page {
            width: 32px !important;
            height: 32px !important;
            line-height: 32px !important;
            border-radius: 50% !important;
            border: 1px solid #d3dfd3;
            margin: 2px 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            box-sizing: border-box;
            color: #A7A7A7;
            cursor: pointer;
            font-size: 0.9rem;
            transition-duration: 500ms;
        }
        .btn_custom-paging-container{
            display: flex;
            .mat-mdc-custom-page {
                &:hover {
                    border: 1px solid #E03;
                    color: #E03 !important;
                }
        
                &.current-page {
                    color: #E03 !important;
                    border: 1px solid #E03;
                }
            }
        }

    
        .mat-mdc-paginator-navigation-first,
        .mat-mdc-paginator-navigation-previous,
        .mat-mdc-paginator-navigation-next,
        .mat-mdc-paginator-navigation-last {
            border-radius: 50% !important;

            &:disabled {
                opacity: 0.5 !important;
            }
        }

        .mat-mdc-form-field-underline {
            height: 0px;
        }
    }
}