@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.progress-spinner-overrides((
    active-indicator-color: #fff,
  ));
}

mat-spinner {
    &.spinner-small{
        width: 20px !important;
        height: 20px !important;
    }
}