.listing-container,
.page-container{
  padding: 16px 16px !important;
  border-radius: 8px;
  min-height: calc( 100vh - 196px);
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.cus-table-container {
  overflow: auto;
  border-radius: 6px;

  .mat-mdc-table.cus-table {
    width: 100%;
    background: #fff;

    tr.mat-mdc-header-row {
      height: 40px !important;
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      padding: 4px 4px;
      font-size: 14px;
      &:first-child{
        padding-left: 12px;
      }
    }

    .mat-mdc-header-cell {
      box-shadow: 2px 6px 12px #e9ecef78;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      font-weight: 400;
      color: rgb(153, 161, 183) !important;
      text-transform: uppercase;
      font-weight: 500;
    }

    .mat-mdc-table-sticky,
    .mat-mdc-header-cell {
      border-color: #f1f1f4;
    }

    td.mat-mdc-cell {
      border-color: #e1eae3;
      border-bottom-style: dashed !important;
      border-width: 1px;
    }

    td.mat-mdc-cell:last-of-type,
    td.mat-mdc-footer-cell:last-of-type,
    th.mat-mdc-header-cell:last-of-type {
      padding-right: 4px;
    }
    tr.mat-mdc-row{
      &:hover{
        td { background: #f1faff; }
      }

      .off-bg{
        background: #f0f0f0 !important;
      }
    }
  }
}
td.mat-mdc-cell, td.mat-mdc-footer-cell, th.mat-mdc-header-cell {
  padding-left: 10px !important;
}


.search-box {
  border: 1px solid hsl(0, 0, 60);
  border-radius: 5px;

  &:hover {
    border: 2px solid hsl(255, 0, 55);
    font-size: 1.25rem;
    box-shadow: 2px 2px hsl(355, 0, 55);
  }

  img {
    padding-left: 0.75rem;
  }

  input {
    background-color: initial;
    border: 0px none;
    display: inline-block;
    height: 30px;
    width: 280px;
    outline: none;
    box-shadow: none;
  }

  .btn-reset-search {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
}


.no-record{
  padding: 20px 12px;
  background: #fcfcfc;
}

// Placeholder - Loading : https://stackoverflow.com/questions/35151887/how-to-create-placeholder-while-loading-like-facebook

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;

  &.col-loading {
    border-radius: 4px;
    height: 40px;
    width: 100%;
  }
}
