.listing-container,
.page-container{
  padding: 16px 16px !important;
  background: #fff;
  border-radius: 8px;
  min-height: calc( 100vh - 196px);
  // box-shadow: 1px -4px 20px #fafafa;
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.listing-container{
  padding: 16px 16px 0 16px !important;
}

$maxLines: 1,2,3,4,5,6;
@each $maxLine in $maxLines{
    .max-#{$maxLine}-line {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $maxLine;
      /* number of lines to show */
      line-clamp: $maxLine;
      -webkit-box-orient: vertical;
      word-break: break-word;
    }
}

.v-table-container {
  overflow: auto;
  border-radius: 6px;


  .v-table {
    width: 100%;

    tr.mat-header-row {
      height: 40px !important;
    }

    .mat-header-cell,
    .mat-cell {
      padding: 4px 4px;
      font-size: 14px;
      &:first-child{
        padding-left: 12px;
      }
    }

    .mat-header-cell {
      box-shadow: 2px 6px 12px #e9ecef78;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      font-weight: 400;
      color: #71839B !important;
    }

    .mat-table-sticky,
    .mat-header-cell {
      border-color: #9e9e9e;
    }

    td.mat-cell {
      border-color: #e1eae3;
      border-bottom-style: dashed !important;
    }

    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type,
    th.mat-header-cell:last-of-type {
      padding-right: 4px;
    }
    tr.mat-row{
      &:hover{
        td { background: #f1faff; }
      }

      .off-bg{
        background-color: #f0f0f0 !important;
      }
    }
  }
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 10px !important;
}

.v-paginator {
  border-radius: 6px;

  .mat-paginator-page-size-label,
  .mat-paginator-range-label {
    margin: 0 4px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

  .mat-select-value-text {
    font-size: 14px;
  }

  .mat-paginator-container {
    justify-content: space-between !important;
    padding: 0px 0;

    .mat-icon-button {
      width: 32px !important;
      height: 32px !important;
      line-height: 32px !important;
      border-radius: 50% !important;
      border: 1px solid #e9ecef;
      margin: 2px 2px;
    }

    .mat-paginator-navigation-first,
    .mat-paginator-navigation-previous,
    .mat-paginator-navigation-next,
    .mat-paginator-navigation-last {
      // background: #e9ecef;
      border-radius: 50% !important;

      &:disabled {
        opacity: 0.5 !important;
      }
    }
    .mat-form-field-underline{
      height: 0px;
    }
  }

  .mat-button-wrapper {
    .mat-paginator-icon {
      width: 22px;
      margin: 0 2px;
      margin-top: -2px;
    }
  }

  .mat-custom-page {
    &:hover {
      border: 1px solid #E03;
      color: #E03 !important;
    }

    &.current-page {
      color: #E03 !important;
      border: 1px solid #E03;
    }
  }
  .mat-paginator-per-page-button{
    background-color:#F4F4F4;
    border-radius: 6px;
    color: #222;
  }
  .mat-form-field-infix{
    border-top: none;
  }
  .mat-select-value-text{
    padding-left: 6px;
    padding-top: 2px;
  }
}

.search-box {
  border: 1px solid hsl(0, 0, 60);
  border-radius: 5px;

  &:hover {
    border: 2px solid hsl(255, 0, 55);
    font-size: 1.25rem;
    box-shadow: 2px 2px hsl(355, 0, 55);
  }

  img {
    padding-left: 0.75rem;
  }

  input {
    background-color: initial;
    border: 0px none;
    display: inline-block;
    height: 30px;
    width: 280px;
    outline: none;
    box-shadow: none;
  }

  .btn-reset-search {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
}


.no-record{
  padding: 20px 12px;
  background: #fcfcfc;
}

// Placeholder - Loading : https://stackoverflow.com/questions/35151887/how-to-create-placeholder-while-loading-like-facebook

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 338px;
  position: relative;
  overflow: hidden;

  &.col-loading {
    border-radius: 4px;
    height: 40px;
    width: 100%;
  }
}
