<!-- //NOSONAR -->
<ng-template #SpinerSecondary>
    <div class="spinner-border spinner-border-sm text-secondary" role="status"> <span
        class="visually-hidden">Loading...</span> </div>
  </ng-template>
  
  <div class="row">
    <div >
      <!-- Content Page -->
      <div>
        <!-- Table tools section -->
        <div class="d-flex align-items-center justify-content-between mb-2">
          <!-- Header of Page -->
          <div>
            <span class="workspace-label" translate> Requests</span>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="input-group input-search-container me-2">
              <input type="text" class="form-control" [formControl]="searchInput" maxLength="255" trim
                style="min-width: 400px;">
              <button class="btn clear-button" (click)="searchInput.reset()" [disabled]="searchInput.value == ''">
                <ng-container *ngIf="!isLoading; else SpinerSecondary;">
                  <mat-icon>clear</mat-icon>
                </ng-container>
              </button>
            </div>
            <button class="btn btn-primary btn-sm d-flex white-space-nowrap" (click)="editProject()">
              <mat-icon>add</mat-icon> &nbsp;
              Add Project
            </button>
          </div>
        </div>
  
        <!-- Table Data section -->
        <div class="m-0 listing-container" style="min-height: calc(100vh - 538px);">
          <ng-container *ngIf="tbhhRequests$ | async as tbhhRequests;">
            <div class="cus-table-container">
              <table mat-table [dataSource]="tbhhRequests" class="cus-table">
                <ng-container *ngFor="let col of displayedColumns | keys">
                  <ng-container matColumnDef="{{ col }}" [stickyEnd]="listingService.isStickyEndColumn(col, displayedColumns)">
                    <!-- Headers -->
                    <th mat-header-cell *matHeaderCellDef [width]="displayedColumns[col].width" [ngStyle]="{
                      'min-width': displayedColumns[col].minWidth,
                      'max-width': displayedColumns[col].maxWidth,
                      'text-align': displayedColumns[col].isCenterContent ? 'center' : 'left'
                    }">
                      {{ displayedColumns[col].columnName }}
                    </th>
  
                    <!-- Columns -->
                    <ng-container>
                      <td mat-cell *matCellDef="let request" [ngStyle]="{
                    'min-width': displayedColumns[col].minWidth,
                    'max-width': displayedColumns[col].maxWidth,
                    'text-align': displayedColumns[col].isCenterContent ? 'center' : 'left'
                  }">
                        <ng-container [ngSwitch]="col">
  
                          <ng-container *ngSwitchCase="'action'">
                            <div class="d-flex justify-content-center">
                              <!-- group_icon must be first -->
                              <button class="custom-action warning" matTooltip="Members" (click)="shareProject(request)">
                                <mat-icon>group_icon</mat-icon>
                              </button>
                              <button class="custom-action" matTooltip="Edit" (click)="editProject(request)">
                                <mat-icon svgIcon="pen"></mat-icon>
                              </button>
                              <button class="custom-action accent" matTooltip="Delete" (click)="removeProject(request)">
                                <mat-icon svgIcon="remove"></mat-icon>
                              </button>
                              <button class="custom-action accent" matTooltip="Delete" (click)="removeProject(request)">
                                <mat-icon svgIcon="remove"></mat-icon>
                              </button>
                            </div>
                          </ng-container>
  
                          <ng-container *ngSwitchCase="'name'">
                            <div
                              [ngStyle]="{ 'text-align': displayedColumns[col].isCenterContent ? 'center' : 'left', '-webkit-box-orient': 'vertical' }"
                              class="max-3-line" matTooltipAuto matTooltip="{{ request[col] }}">
                              <a [routerLink]="['/request-management/detail', request.id, 'milestones' ]"   routerLinkActive="router-link-active">
                                {{ request[col] }}
                              </a>
                            </div>
                          </ng-container>
  
                          <ng-container *ngSwitchDefault>
                            <div
                              [ngStyle]="{ 'text-align': displayedColumns[col].isCenterContent ? 'center' : 'left', '-webkit-box-orient': 'vertical' }"
                              class="max-3-line" matTooltipAuto matTooltip="{{ request[col] }}">
                              {{ request[col] }}
                            </div>
                          </ng-container>
                        </ng-container>
                      </td>
                    </ng-container>
  
                  </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns | keys"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns | keys"></tr>
              </table>
            </div>
  
            <div *ngIf="!isLoading && tbhhRequests?.length == 0" class="no-record">
              Result: 0 record
            </div>
  
            <div [style.display]="tbhhRequests?.length == 0 ? 'none' : 'block' ">
              <mat-paginator #paginator class="custom-paginator" cPaginator showFirstLastButtons
                [length]="(page$ | async)?.totalItem" [pageSize]="(page$ | async)?.pageSize"
                [pageSizeOptions]="pageSizeOption" (page)="pageChangeEvent($event)">
              </mat-paginator>
            </div>
  
          </ng-container>
        </div>
  
      </div>
    </div>
  </div>
  