:host {

    // Header
    .sidenav-header {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>img {
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
            margin-bottom: 10px;
        }

        .header-text {
            height: 3rem;
            width: 100%;
            text-align: center;

            >h2 {
                margin: 0;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 400;
            }

            >p {
                margin: 0;
                font-size: .8rem;
                color: #83838e;
            }
        }

        .hide-header-text {
            opacity: 0;
            height: 0 !important;
        }
    }
}

// Menu Item
:host * {
    transition: all 500ms ease-in-out;

    &::ng-deep {
        .menu-item {
            margin: 2px 8px;
            width: calc(100% - 16px);
            border-radius: 4px !important;

            &:focus {
                outline: none !important;
            }

            &:hover {
                background-color: #dae2f9;
            }

            &.selected-menu-item {
                background-color: #dae2f9;

                &>mat-icon {
                    color: #0599ff;
                }
            }

            $arrowSize: 20px;
            .mdc-list-item--with-leading-icon.mdc-list-item{
                padding-right: 0 !important;
            }
            .mdc-list-item__end {
                height: $arrowSize !important;

                &>mat-icon {
                    font-size: $arrowSize;
                    line-height: $arrowSize;
                    width: $arrowSize !important;
                    height: $arrowSize !important;
                }
            }
        }

        .indented {
            --mat-list-list-item-leading-icon-start-space: 24px;
        }

        & > mat-icon{
            width: 32px;
            text-align: center;
        }

    }

}