:host {
    // Header
    .sidenav-header {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>img {
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
            margin-bottom: 10px;
        }

        .header-text {
            height: 3rem;
            width: 100%;
            text-align: center;

            >h2 {
                margin: 0;
                font-size: 1rem;
                line-height: 1.5rem;
                color: #071437;
                font-weight: 500;
            }

            >p {
                margin: 0;
                font-size: .8rem;
                color: #99a1b7;
            }
        }

        .hide-header-text {
            opacity: 0;
            height: 0 !important;
        }
    }
}

// Menu Item
$arrowSize: 20px;
$iconSize: 40px;

:host * {
    transition: all 500ms ease-in-out;

    &::ng-deep {
        .mat-mdc-list-item-title {
            font-weight: 400;
            color: #fff;
        }

        .menu-item {
            margin: 0 0;
            width: 100%;
            border-radius: 0px !important;
            padding-right: 0 !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover,
            &:focus,
            &.selected-menu-item {
                background-color: #2e3ab8;
                &>mat-icon,
                & .mat-mdc-list-item-title {
                    color: #fff;
                }
            }

            .mdc-list-item__content{
                flex: none !important;
            }
            .mdc-list-item--with-leading-icon.mdc-list-item {
                padding-right: 0 !important;
            }

            .mdc-list-item__end {
                height: $arrowSize !important;
                top: calc(50% - 10px);
                right: -6px;
                position: absolute;
                &>mat-icon {
                    font-size: $arrowSize;
                    line-height: $arrowSize;
                    width: $arrowSize !important;
                    height: $arrowSize !important;
                }
            }
        }

        .indented {
            --mat-list-list-item-leading-icon-start-space: 24px;
        }

        &>mat-icon {
            width: 100%;
            text-align: center;
            font-size:  $iconSize;
            height:  $iconSize;
            color: #f5f5f5;
            margin: 0 0 !important;
        }
        .mat-mdc-list-item-title {
            color: #f5f5f5;
            font-size: 12px;
        }

    }

}