:host * {
    transition: all 500ms ease-in-out;

    &::ng-deep {
        .menu-item {
            border-radius: 0 !important;
            border-left: 5px solid transparent;

            &:hover {
                background-color: #dae2f9;
            }
        }

        .selected-menu-item {
            border-left-color: red;
            background-color: #dae2f9;
            border-radius: 4px !important;
        }

        .indented{
            --mat-list-list-item-leading-icon-start-space: 48px;
        }
    }

}