<!-- Ref: https://zoaibkhan.com/blog/create-a-responsive-sidebar-menu-with-angular-material/ -->
<mat-toolbar style="justify-content: space-between ; background-color: #fff;">
  <div class="d-flex align-items-center">
    <div class="top-menu d-flex justify-content-between align-items-center" [ngClass]="sidebar.show ? 'open' : 'close'">
      <span class="pr-2" style="color: #222;" *ngIf="sidebar.show">
        Test Management
      </span>
      <button mat-icon-button (click)="toggleSidebar()" style="color: #222;">
        <span class="mat-button-wrapper">
          <mat-icon style="line-height: 32px;"> menu </mat-icon>
        </span>
      </button>
    </div>
  </div>
  <div class="d-flex">
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [mode]="sidebar.mode" [opened]="sidebar.show" #sidenav="matSidenav" class="mat-elevation-z8">
    <app-sidebar [sidebarShow]="sidebar.show"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      content here
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>