// Sidebar
:host {
    & * {
        transition: all 500ms ease-in-out;
    }

    mat-toolbar {
        position: relative;
        z-index: 5;
        background: #fff;
        border-bottom: 1px solid #f7f7f8;
        padding: 0;

        .sidenav-header {
            display: flex;
            align-items: center;
            .collapsed-button-wrap{
                display: flex;
                align-items: center;
                justify-content: center;
                .collapsed-button {
                    border: none;
                    background: transparent;
                    cursor: pointer;
                }
            }

            .sidenav-logo {
                height: 54px;
                object-fit: cover;
                object-position: center;
                cursor: pointer;
            }
        }
    }

    .content {
        padding: 24px;
    }

    mat-sidenav-container {
        height: calc(100vh - 64px);
        background: #fff;

        .mat-sidenav {
            border-radius: 0;
            background: #f7f7f8;
        }
    }

    mat-sidenav,
    mat-sidenav-content {
        transition: all 500ms ease-in-out;
    }

}

// top Header
:host{
    .header-right{
        flex: 1;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        .button-icon{
            width: 40px;
            height: 40px;
            background: transparent;
            box-shadow: none;
            border: 1px solid #e6ede6;
            border-radius: 50%;
            margin: 0 4px;
            &:hover{
                mat-icon{
                    color: #0599ff;
                }
            }
        }
    }
}