<mat-toolbar class="mat-elevation-z3">
    <div class="sidenav-header" [ngStyle]="{'width': sidenavExpandedWidth + 'px' }" >
        <div class="collapsed-button-wrap" [ngStyle]="{'width': ( sidenavCollapsedWidth - 1 ) + 'px' }">
            <button mat-icon-button class="collapsed-button" (click)="collapsed.set(!collapsed())">
                <mat-icon> menu </mat-icon>
            </button>
        </div>
        <img class="sidenav-logo" src="images/logos/sidebar-logo.png" alt="Logo">
    </div>
    <div class="header-right">
        <div>

        </div>
        <div class="header-actions">
            <button mat-fab class="button-icon" >
                <mat-icon svgIcon="settings"></mat-icon>
            </button>
            <button mat-fab class="button-icon"  [matMenuTriggerFor]="settingsMenu">
                <img class="avatar" src="images/avatars/avatar-1.svg" alt="Logo">
            </button>
            <mat-menu #settingsMenu>
                <div style="min-width: 150px;">
                    <menu mat-menu-item [routerLink]="['/admin/profile']">
                        <mat-icon class="w-20 blue" svgIcon="user"></mat-icon> Account
                    </menu>               
                    <menu mat-menu-item (click)="logout()">
                        <mat-icon class="w-20 accent">exit_to_app</mat-icon> Logout
                    </menu>
                </div>
            </mat-menu>

        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" [style.width]="sidenavWidth()" [opened]="true" class="mat-elevation-z8">
        <app-sidenav [collapsed]="collapsed()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content [style.margin-left]="sidenavWidth()">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
