<ng-container>
    <ng-container *ngFor="let item of sidebarItems">
        <ng-container>
            <ng-container [ngSwitch]="item.type">
                <ng-container *ngSwitchCase="'link'">
                    <!-- Menu Item -->
                    <div class="position-relative">
                        <a [routerLink]="item.route" [routerLinkActive]="['active-menu']" class="menu-item"
                            matTooltip="{{ item.name }}" [matTooltipPosition]="'right'"
                            [matTooltipDisabled]="sidebarShow || item.isProjectMenu" (mouseenter)="mouseEnter(item)"
                            (mouseleave)="mouseLeave(item)">
                            <button mat-button class="menu-button" [ngClass]="sidebarShow ? 'menu-open' : 'menu-close'">
                                <mat-icon *ngIf="item?.iconType == 'svg'" svgIcon="{{ item.icon }}"
                                    style="vertical-align: inherit; margin-top: -4px">
                                </mat-icon>
                                <mat-icon *ngIf="item?.iconType == 'mat-icon'">
                                    {{ item.icon }}
                                </mat-icon>
                                <span *ngIf="sidebarShow" class="menu-item-name">{{ item.name }}</span>
                                <ng-container *ngIf="item?.subMenus?.length">
                                    <mat-icon class="arrow cursor-pointer"
                                        [ngClass]="{ down: item['showSubMenu'] == true }"
                                        (click)="item.showSubMenu = !item['showSubMenu']">keyboard_arrow_down</mat-icon>
                                </ng-container>
                            </button>
                        </a>
                    </div>

                    <!-- Sub menu -->
                    <div class="sub-menu sub-items-{{ item?.subMenus?.length }}"
                        [ngClass]="item?.subMenus?.length && item['showSubMenu'] ? 'open' : 'close' ">
                        <ng-container *ngFor="let subMenu of item?.subMenus">
                            <ng-container *ngxPermissionsOnly="item.roles">
                                <a [routerLink]="subMenu.route" [routerLinkActive]="['active-menu']" class="menu-item"
                                    matTooltip="{{ subMenu.name }}" [matTooltipPosition]="'right'"
                                    [matTooltipShowDelay]="300" [matTooltipDisabled]="sidebarShow">
                                    <button mat-button class="menu-button"
                                        [ngClass]="sidebarShow ? 'menu-open' : 'menu-close'">
                                        <mat-icon>fiber_manual_record</mat-icon>
                                        <span *ngIf="sidebarShow" class="menu-item-name">{{ subMenu.name }}</span>
                                    </button>
                                </a>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <!-- Divider -->
                <ng-container *ngSwitchCase="'divider'">
                    <mat-divider [ngClass]="sidebarShow ? 'menu-open' : 'menu-close'"></mat-divider>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>